/* Write your CSS code here */
.currency-item-container {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50vw;
}
.row-container {
  margin-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image-currency {
  height: 35px;
  width: 35px;
  border-radius: 15px;
  margin-right: 10px;
}
.currency-name {
  color: #ffffff;
  margin-right: 50px;
  margin-left: 20px;
}
